<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/autor">
      <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
    </ion-buttons>
    <ion-title>Currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currículum</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngFor="let dato of datos">
    <ion-list-header>
      <h1>{{ dato.fecha }}</h1>
    </ion-list-header>
    <ion-item>
      {{ dato.descripcion }}
    </ion-item>
  </ion-list>

</ion-content>
