<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Currículum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Currículum</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Currículum</h1>
  <p>Contenido de ejemplo</p>

  <ion-list>
    <ion-list-header>
      <h1>2021-actualidad:</h1>
    </ion-list-header>
    <ion-item>
      Cursando ingenieria en desarrollo de software multiplataforma - UTCJ
    </ion-item>
    <ion-list-header>
      <h1>2020-actualidad:</h1>
    </ion-list-header>
    <ion-item>
      CEO startup y programador principal - Blink Code
    </ion-item>
    <ion-list-header>
      <h1>2020-2020:</h1>
    </ion-list-header>
    <ion-item>
      Desarrollo y despliegue de aplicación UTCJournal, (Programador Líder)
    </ion-item>
    <ion-list-header>
      <h1>2020-2020:</h1>
    </ion-list-header>
    <ion-item>
      Desarrollo y despliegue de aplicación ThinkerBell, (Programador Secundario - QA Tester)
    </ion-item>
    <ion-list-header>
      <h1>2019-2019:</h1>
    </ion-list-header>
    <ion-item>
      Desarrollo y despliegue de aplicación TeenMath, (Programador Secundario - Administrador de Base de datos)
    </ion-item>
  </ion-list>

  <!-- <ion-router-link color="success" href="../home"> Inicio </ion-router-link>
  <ion-router-link color="success" href="../autor"> Autor </ion-router-link>
  <ion-router-link color="success" href="../videoclub"> iVideoclub </ion-router-link> -->

  <ion-footer collapse="fade">
    <ion-toolbar>
      <ion-title>
        Navegación
      </ion-title>
      <ion-item>
        <ion-router-link color="success" href="../home"> <ion-icon name="home-sharp"></ion-icon> Inicio </ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link color="success" href="../autor"> <ion-icon name="person-sharp"></ion-icon> Autor </ion-router-link>
      </ion-item>
      <ion-item>
        <ion-router-link color="success" href="../videoclub"> <ion-icon name="videocam-sharp"></ion-icon> iVideoclub </ion-router-link>
      </ion-item>
    </ion-toolbar>
  </ion-footer>

</ion-content>
