<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" routerLink="/home">
      <ion-back-button text="" icon="chevron-back-sharp"></ion-back-button>
    </ion-buttons>
    <ion-title>Autor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Autor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Información
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Aplicación desarrollada por Mi-key12.
      A continuación puede consultar más
      información sobre el autor.
      <ion-item button routerLink="/curriculum">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        Currículum vitae
      </ion-item>
      <ion-item href="mailto:mike3053nd@gmail.com">
        <ion-icon name="mail" slot="start"></ion-icon>
        <p><strong>Correo:</strong> mike3053nd@gmail.com</p>
      </ion-item>
      <ion-item href="@twitter">
        <ion-icon name="logo-twitter" slot="start"></ion-icon>
        <p><strong>Twitter:</strong> @twitter</p>
      </ion-item>
      <ion-item href="tel:6568600366">
        <ion-icon name="call" slot="start"></ion-icon>
        <p><strong>Teléfono:</strong> 6568600366</p>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
